.header {
    & >h1 {
        & >a {
            & img {
                width: 40%;
            }
        }
    }
}

.copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px 50px;
    text-align: center;
    color: #ccc;
    background-color: #333;
    font-size: 12px;
    letter-spacing: 0.05em;
}


.top-greeting {
    & dt {
        margin: 0 0 30px 0;
        text-align: center;
    }
}
