/* header */
.header {
    & >h1 {
        & >a {
            & img {
                width: 40%;
            }
        }
    }
}


/* footer */
.copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px 50px;
    text-align: center;
    color: #ccc;
    background-color: #333;
    font-size: 12px;
    letter-spacing: 0.05em;
}

/* mainvisual */
.mainvisual {
    & >img {
        width: 100%;
        height: auto;
    }
    & >h2 {
        color: #333333;
	    z-index: 1;
	    font-weight: bold;
	    font-size: 2.25rem;
	    text-align: center;
	    margin: 0;
	    letter-spacing: 0.06em;
	    line-height: 1em;
	    top: 50%;
	    left: 50%;
	    position: absolute;
	    transform: translateY(-50%) translateX(-50%);
	    width: 100%;
    }
}


/* top-greeting */
.top-greeting {
    & >dl {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        align-items: center;
    }
    & >dt {
        width: 35%;
        & >figure {
            & >img {
                width: 100%;
            }
        }
    }
    & >dd {
        width: 60%;
    }
}

/* top-business */

/* top-news */
.top-news {
    & .news-archive {
        & >li {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            padding: 40px 0;
            border-bottom: 1px solid #c2c2c2;
            &:first-child {
                border-top: 1px solid #c2c2c2;
            }
            & >time {
                display: block;
            }
        }
    }
}

